body {
  padding-top: 70px;
}

.bg-dark {
  background-color: #343a40!important;
  color: white;
}

.bg-dark a {
  color: white;
}

footer {
  margin: 50px 0;
}

.form-control.ng-touched.ng-invalid {
  border: 2px solid red;
}
